html, body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.widget-container {
  -webkit-app-region: no-drag;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: rgba(var(--background-color-r), var(--background-color-g), var(--background-color-b), var(--transparency));
  cursor: default;
  pointer-events: none;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.iframe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  display: none;
}